@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto:wght@100;300;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e94c00;
  --primary-select: #ff6600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.layout__sidebar {
  min-height: 100vh;
  width: 20rem;
  padding-inline: 15px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  transition: 0.3s;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 100%;
  transition: 0.3s color ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


::-webkit-scrollbar
  {
    width: 5px;
     
  }
  ::-webkit-scrollbar-track
  {
    background-color: rgb(212, 211, 211);
    border-radius: 5px;
   
  }
  ::-webkit-scrollbar-thumb
  {
    background-color: rgb(189, 186, 186);
  border-radius: 5px;
  }