<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24320835329-3nulk87ooi2bip1edpinvkt5gfcqo7cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24320835329-3nulk87ooi2bip1edpinvkt5gfcqo7cu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24320835329-k3psga6vmo2rsbbtqh0p1nluc1l491ls.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0ZfXLi_mCXdDdOKMRT8WcwfS1A-p3qX8</string>
	<key>GCM_SENDER_ID</key>
	<string>24320835329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditFox</string>
	<key>PROJECT_ID</key>
	<string>fox-app-e9b9f</string>
	<key>STORAGE_BUCKET</key>
	<string>fox-app-e9b9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24320835329:ios:6eeee5134f8963987c6500</string>
</dict>
</plist>