/* CustomScrollbar.css */
#sidebar-multi-level-sidebar {
 
   
  }
  
  /* Set the background color of the scrollbar track */
  ::-webkit-scrollbar-track {
     
  }
  
  /* Set the background color and border radius of the scrollbar thumb */
  #sidebar-multi-level-sidebar::-webkit-scrollbar-thumb {
   
  }
  ::-webkit-scrollbar
  {
    width: 5px;
     
  }
  ::-webkit-scrollbar-track
  {
    background-color: rgb(212, 211, 211);
    border-radius: 5px;
   
  }
  ::-webkit-scrollbar-thumb
  {
    background-color: rgb(189, 186, 186);
  border-radius: 5px;
  }